* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
}
body {
    width: 100%;
    height: 100%;
    background-color: #fffcfc;
    color: #1c1b1b;
    overflow: hidden;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.marquee-wrapper {
    white-space: nowrap;
    position: absolute;
    display: flex;
    top: 100px;
}
.marquee {
    display: flex;
    gap: 100px;
    white-space: nowrap;
    font-size: 110px;
    animation: marquee 40s linear infinite;
    margin-left: 100px;
}
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.loading-img{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-img img{
    width: 375px;
}
@media (max-width: 500px) {
    .marquee{
        font-size: 35px !important;
    }
    .loading-img img{
        width: 330px;
    }
}




