* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #fffcfc;
    color: #1c1b1b;
    overflow: hidden;
    font-family: 'Yugothic', sans-serif;
    font-weight: 510;
}
.all-container{
    width: 100vw;
    height: 100vh;
    display: fixed;
    overflow: hidden;
}
.marquee-wrapper {
    white-space: nowrap;
    position: relative;
    display: flex;
    margin-top: 100px;
}
.marquee {
    display: flex;
    gap: 100px;
    white-space: nowrap;
    font-size: 110px;
    animation: marquee 40s linear infinite;
    margin-left: 100px;
}
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.loading-img{
    text-align: center;
    margin-top: 75px;
}
.loading-img img{
    width: 375px;
}
@media (max-width: 500px) {
    .marquee{
        font-size: 65px;
    }
    .marquee-wrapper{
        margin-top: 40%;
    }
    .loading-img{
        margin-top: 100px;
    }
    .loading-img img{
        width: 330px;
    }
}




