*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-color: #fffcfc;
}
/* ここからheader */
.header{
    width: 100vw;
    height: 100px;
    background-color: #fffcfc;
    color: #1c1b1b;
    font-family: 'Notosans JP', sans-serif;
}
.header-logo img{
    width: 220px;
    margin: 15px 2% 0 2%;
}
.saikun-menu{
    position: fixed;
    right: 13px;
    top: 8px;
    text-align: center;
    z-index: 200;
}
.menu-img{
    width: 75px;
}
.menu-text{
    margin-top: -17px;
}
.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fffcfc;
    color: #1c1b1b;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 100;
    overflow: hidden;
}
.fullscreen-menu.active {
    opacity: 1;
    visibility: visible;
}
.menu-open-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    border-top: 1.5px solid #1c1b1b;
    border-bottom: 1.5px solid #1c1b1b;
    overflow: hidden;
}
.menu-open-logo img{
    width: 230px;
    margin: 26px 2% 0 2%;
}
.menu-open-texts{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.menu-open-container a{
    text-decoration: none;
    color: #1c1b1b;
}
.menu-open-texts a:hover{
    color: #e72241;
    transition: 0.7s;
}
.menu-open-container p{
    margin: 36px 0;
    font-family: "Noto Sans JP", sans-serif;
}
.menu-open-texts p{
    opacity: 0;
    transform: translateY(30px);
}
.menu-sns-icon{
    position: absolute;
    bottom: 35px;
    margin-left: 2%;
    display: flex;
}
.menu-sns-icon img{
    width: 50px;
    margin: 0 10px;
}
.menu-open-button {
    position: absolute;
    bottom: 40px;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 20px;
    border: 1.5px solid #1c1b1b;/*色を変えてね*/
    border-radius: 30px;
    font-size: 15px;
    /* font-weight: bold; なくそう*/
    color: #1c1b1b;
    font-family: "Noto Sans JP", sans-serif;/*加えた*/
    /* text-decoration: none; なくそう*/
    transition: all 0.3s ease;
    overflow: hidden;
    height:60px;/*高さを変えてね*/
    white-space: nowrap;
    width:262px;/*長さを変えてね*/
    gap:10px;
    margin-left: 20px;
    padding-left: 50px;/*文字をずらせる */
    }
          
  
  .menu-open-button::after {
  content: "→";
  font-size: 20px;/*矢印の大きさを変えてね*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;/*まるの大きさを変えてね*/
  height: 45px;/*まるの大きさを変えてね*/
  border-radius: 50%;
  background-color: #1c1b1b;/*色を変えてね*/
  color: #fffcfc;
  transition: all 0.3s ease;
  position: absolute;
  right: 10px; 
  margin-left: 10px; 
  flex-shrink: 0;
  }
  .menu-open-button:hover {
  background-color: #1c1b1b;/*色を変えてね*/
  color: #fffcfc;
  }
  
  .menu-open-button:hover::after {
  background-color: #fffcfc;
  color: #1c1b1b;
  transform: scale(1); 
  }

  @media (max-width: 1023px) {
    /* ここからheader */
.header{
    height: 75px;
}
.header-logo img{
    width: 170px;
}
.saikun-menu{
    right: 5px;
    top: 5px;
}
.menu-img{
    width: 65px;
}
.menu-text{
    margin-top: -16px;
    font-size: 14px;
}
.menu-open-container{
    top: 51%;
    width: 90vw;
}
.menu-open-logo img{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.menu-open-texts{
    top: 44%;
    width: 100%;
    font-size: 16px;
}
.menu-open-container p{
    margin: 15px 0;
}
.menu-sns-icon{
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.menu-open-button {
    bottom: 95px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
}
.menu-sns-icon{
    bottom: 25px;
}
/* ここまでheader */
  }
/* ここまでheader */

/* ここからhero */
.hero{
    width: 100%;
    height: 180px;
    background-color: #e72241;
}





/* ここまで、square-link */
.square-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1.5px solid #2c6dbc;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Notosans JP', sans-serif;
    /* font-weight: bold; */
    color: #2c6dbc;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    height: 50px;
    white-space: nowrap;
    width: 200px; /* 文字の長さに応じて可変 */
    min-width: 150px; /* 最小幅を設定して極端に小さくならないように */
    padding-right: 50px;
}

.square-button .spacer {
    flex-grow: 1; 
}

.square-button .text {
    flex-shrink: 0; /* 文字の長さに影響されないように固定 */
}

.square-button::after {
    content: "→";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2c6dbc;
    color: #fffcfc;
    transition: all 0.3s ease;
    position: absolute;
    right: 10px; /* 矢印は固定 */
    flex-shrink: 0;
}

/* ホバー時の変更 */
.square-button:hover {
    background-color: #2c6dbc;
    color: #fffcfc;
}

.square-button:hover::after {
    background-color: #fffcfc;
    color: #2c6dbc;
    transform: scale(1);
}

/* ここからベイマックス */
.square-bar {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #1c1b1b; /* 文字色 */
    text-decoration: none;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    padding-bottom: 5px; /* 文字と線の間隔 */
    overflow: visible;

}

.square-bar::after {
    content: '';
    position: absolute;
    left: 50%; /* 線を中央配置 */
    width: 210px;
    height: 2px;
    background: #1c1b1b;
    bottom: -3px;
    transform: translateX(-50%) scale(1, 1); 
    transform-origin: right top;
    transition: transform 0.3s ease-out;
}

.square-bar::before {
    content: '';
    position: absolute;
    left: calc(50% + 105px); 
    bottom: -6px;
    width: 10px;
    height: 10px;
    background: #1c1b1b;
    border-radius: 50%;
}


.square-bar:hover::after {
    transform: translateX(-50%) scale(0, 1);
    transform-origin: right top;
    transition: transform 0.5s ease-out;
}
/* ここまでベイマックス */

/* ここからセクションタイトル */
.section-title {
    display: inline-block;
  }
 
  .section-title h1 {
    font-size: 48px;
    font-weight: bold;
    color: #1c1b1b;
  }
 
  .section-underline {
    width: 100%;
    height: 10px;
    background-color: #E72241;
    border-radius: 5px;
  }


@media (max-width:500px){
    .section-title h1{
        font-size: 18px;
    }
    .section-underline{
        height: 3.5px;
        border-radius: 1.5px;
    }
}


/* ここまでセクションタイトル */


/* ここからブロックタイトル */
.blockTitleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}


.blockTitleBar {
    width: 9px;
    height: 30px;
    border-radius: 5px;
}


.blockRed {
    background-color: #e72241;
}


.blockBlue {
    background-color: #58b1e4;
}


.blockYellow {
    background-color: #f8b945;
}


.blockTitle {
    font-size: 30px;
}


@media (max-width:500px){
    .blockTitleContainer{
        gap: 5px;
    }


    .blockTitleBar{
        width: 6px;
        height: 20px;
        border-radius: 3px;
    }


    .blockTitle{
        font-size: 18px;
    }
}
/* ここまでブロックタイトル */


/* ここからフッター */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
    /* これいるかも */
    scroll-behavior: smooth;
  }
  
.test-box {
    width: 100vw;
    height: 150vh;
    background-color: #fffcfc;
}

footer {
    background-color: #e72241;
    width: 100%;
    height: 644px;
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    z-index: 0;
    overflow: hidden;
}
.footer_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列 */
    grid-template-rows: repeat(4, auto); /* 4行 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    text-align: center;
    width: 440px;/
    margin: 0 auto; /* 中央揃え */
    line-height: 5;
    top: 30px;
    left: 350px;
    position: absolute;
}

.shinkan_elements {
    position: absolute;
    width: 80%;
    height: 394px;
    top: 146px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e72241;
    border-top: 2px solid white;
  border-bottom: 2px solid white;
  overflow: hidden;
}
.yajirushi_photo {
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 35px;
    left: 48vw;
    z-index: 100;
    cursor: pointer;
}
.shinkan_wasedasai {
    font-size: 40px;
    top: 140px;
    z-index: 100;
    font-weight: bold;
    color: #fffcfc;
    left: 10%;
    width: 280px;
}
.shinkan_wasedasai_staff {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 270px;
    z-index: 100;
    color: #fffcfc;
    left: 12%;
}
.footer_icons_photo {
    width: 48px;
    height: 48px;
    margin-right: 3vh;
}
.footer_icons {
    position: relative;
    width: 270px;
    height: 56px;
    left: 50px;
    top: 150px;
    z-index: 1;
    line-height: 3;
    display: flex;
    flex-wrap: nowrap;
}
/* .footer_contents_line1 {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 170px;
    z-index: 100;
    color: #fffcfc;
    left: 40%;
    line-height: 4;
    text-align: center;
    
} */
.footer_grid a {
    color: #fffcfc;
    font-size: 16px;
    text-decoration:none;
}
/* .footer_contents_line2 {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 170px;
    z-index: 100;
    color: #fffcfc;
    left: 60%;
    line-height: 4;
    text-align: center;
} */
.footer_hover {
    display: inline-block; 
    position: relative; 
    cursor: pointer;
    width: 220px;
}

.footer_hover::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #fffcfc; /* 白色の下線 */
    transition: width 0.3s ease-in-out;
    z-index: 100;
}

.footer_hover:hover::after {
    width: 100%;
}


@media screen and (max-width: 1400px) {
    footer {
        height: 100vh;
        width: 100vw;
        z-index: 1;
    }
    .yajirushi_photo {
        width: 66px;
        height: 66px;
        left: calc(50% - 33px);
    }
    .shinkan_elements {
        height: 82vh;
        top: 130px;
        align-items: center;
    }
    .shinkan_wasedasai,
    .shinkan_wasedasai_staff {
        width: 100%;
        text-align: center;
        left: 0;
    }
    .shinkan_wasedasai {
        top: 140px;
    }
    .shinkan_wasedasai_staff {
        top: 240px;
    }
    .footer_icons {
        margin-top: 480px;
        height: 48px;
        width: 264px;
        left: 50%;
        transform: translateX(-50%);
  
    }
    .footer_icon1 {
     margin-left: 30px;
    }
    .footer_icons_photo {
    margin-right: 30px;
    }
    .footer_contents {
        display: flex;
        flex-direction: column;
        line-height: 0.5vh;
    }

    .shinkan_elements {
    }
    .footer_hover {
        font-weight: normal;
    }
    .footer_icons_photo {
    }
    .footer_icon1 {
    }
    .footer_square-button {
        margin-top: 1px;
        left: calc(50% - 125px ) !important;
        font-size: 13px !important;
        position: relative;
    }
    .footer_square-button::after {
        font-size: 10px;
    }
    .footer_text {
        font-size: 13px;
        padding: 10px;
        overflow: hidden;
    }
    .footer_grid {
        grid-template-columns: 1fr; /* 1列 */
        grid-template-rows: auto;
        padding-top: 100px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .footer_grid a {
        line-height: 4;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 800px) {
    .footer {
        height: 150vh !important;
    }
    .shinkan_elements {
        top: 75px;
        height: %;
    }
    .yajirushi_photo {
        top: 10px;
        width: 60px;
        height: 60px;
    }
    .shinkan_wasedasai {
        top: 70px;
    }
    .footer_logo {
        width: 500px;
    }
.footer_grid a {
    padding-top: 15px;
    line-height:  1.5;
    
}
.footer_square-button {
    margin-top: 15px;
}
.footer_icons {
    margin-top: 270px;
}
.footer_icons_photo {

}
}
.footer_square-button {
    display: flex;
    align-items: center;
    justify-content: center; /* 文字を中央に配置 */
    padding: 10px 20px;
    border: 1.5px solid #fffcfc;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fffcfc;
    text-decoration: none;
    transition: all 0.3s ease;
    position: absolute;
    overflow: hidden;
    height: 50px;
    white-space: nowrap;
    width: 270px; /* 文字の長さに応じて可変 */
    min-width: 150px; /* 最小幅を設定して極端に小さくならないように */
    padding-right: 50px; /* 矢印のスペースを確保 */
    top: 73%;
    left: 75%;
    cursor: pointer;
}

.footer_square-button .spacer {
    flex-grow: 1; /* 文字の左右の余白を均等に */
}

.footer_square-button .text {
    flex-shrink: 0; /* 文字の長さに影響されないように固定 */
    padding-left: 10px;
}

.footer_square-button::after {
    content: "→";
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #fffcfc;
    color: #e72241;
    transition: all 0.3s ease;
    position: absolute;
    right: 10px; /* 矢印は固定 */
    flex-shrink: 0;
}

/* ホバー時の変更 */
.footer_square-button:hover {
    background-color: #fffcfc;
    color: #e72241;
}

.footer_square-button:hover::after {

    background-color: #e72241;
    color: #fffcfc;
    transform: scale(1);
} 
.footer_logo {
    height: auto;
    width: 289px;
}
/* ここまでフッター */