.QandA{
    font-family: "Noto Sans JP", sans-serif;
}
.section-title{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 5% 0;
}
.faq {
    margin: 0 auto;
    width: 60vw;
    border-top: 1px solid #1c1b1b; /* 上部の線 */
}  
.faq-item {
    border-bottom: 1px solid #1c1b1b; /* 各項目の下部の線 */
    padding: 5% 2%;
}
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
    color: #1c1b1b;
    font-weight: bold;
    cursor: pointer;
}
.question-items{
    display: flex;
    align-items: center;
}
.q-text{
    font-size: 1.8vw;
    color: #58b1e4;
    font-weight: bold;
    margin-right: 1vw;
}
.q-sentence{
    margin-top: 0.5vw;
}
.faq-toggle {
    color: #e72241;
    font-size: 2vw;
    font-weight: bold;
}
.a-text{
    font-size: 1.8vw;
    color: #e72241;
    font-weight: bold;
    margin-right: 1vw;
}
.a-sentence{
    margin-top: 0.5vw;
    width: 90%;
}
.faq-answer {
    display: none; /* 初期状態で非表示 */
    padding-top: 2%;
    font-size: 1.2vw;
    color: #1c1b1b;
}
.answer-items{
    display: flex;
    align-items: start;
}


  .contact{
    text-align: center;
    margin-top: 5vw;
}

.faq-text{
    font-size: 1rem;
}