*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    height: auto;
}
/* ここからコンテンツ */
.section-title {
    margin: 75px 75px 20px 100px;
  }
.section-title h1 {
    font-size: 30px;
    font-weight: bold;
}
.all-contents p{
    font-size: 20px;
    margin: 0 100px;
}
.all-contents a{
    text-decoration: none;
    color: #e72241;
    font-weight: bold;
}
.all-contents span{
    color: #e72241;
    font-weight: bold;
}
.square-flex{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.square-button{
    position: absolute;
    bottom: 0;
    right: 5%;
    color: #e72241;
    border: 1.5px solid #e72241;
    width: 240px;
    height: 60px;
}
.square-button::after{
    background-color: #e72241;
}
.square-button:hover{
    background-color: #e72241;
}
.square-button:hover::after{
    color: #e72241;
}
/* ここまでコンテンツ */
footer {
    margin-top: 75px;
}
@media (max-width:820px){
    .section-title{
        margin: 50px 30px 15px 30px;
    }
    .section-title h1{
        font-size: 18px;
    }
    .all-contents p{
        font-size: 14px;
        margin: 0 30px;
    }
    .square-flex{
        display: flex;
        flex-direction: column;
    }
    .square-button{
        position: relative;
        margin: 20px 0 0 0;
        width: 200px;
        height: 55px;
        font-size: 13px;
        left: 50%;
        transform: translateX(-50%);
    }
    footer{
        margin-top: 50px;
    }
}
