.body p h1{
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body{
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.kyokuButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 1.73vw;
}

.kyokuButton{
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #e72241;
    font-size: 2vw;
    border-radius: 500px;
    padding: 0.85vw 1.73vw;
    color: #fffcfc;
    text-align: center;
    width: 14.5vw;
    opacity: 0.5;
    cursor: pointer;
}

.kaijyo{
    opacity: 1;
}

.kyokuButton4{
    display: flex;
    flex-direction: row;
    gap: 1.38vw;
}


.kyokuUnderBoxContainer{
    border-radius: 50px;
    border: 3px solid #e72241;
    width: 90%;
    margin: 2% auto;
    padding: 2% 3% 3% 3%;
    text-align: center;
}

.section-title-kyoku h1 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.35vw;
}

.section-title-kyoku{
    margin-bottom: 2%;
}

.kyokuName h1{
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.blockTitle{
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.kyokuBoxLeft{
    width: 45%;
}

.kyokuBoxRight{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.kyokuBoxLine{
    content: "";
    color: #1b1c1b;
    border: #1b1c1b 1px solid;
    margin: 0 auto;
}

.kyokuBoxUnder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.73vw 10px 0 10px;
}

.kyokuBoxLeft img{
    width: 100%;
    height: auto;
    border: #e72241 3px solid;
    border-radius: 6.94vw;
    margin-bottom: 10px;
}

.kyokuBoxLeftUnder .blockTitle{
    font-size: 2.08vw;
}

.LeftUnderText p{
    text-align: left;
    font-size: 1.38vw;
}

.kyokuText{
    font-size: 1.38vw;
    text-align: left;
}

.kyokuchoName{
    text-align: end;
    font-size: 1.38vw;
}

.organizationChart{
    text-align: center;
    margin: 5% 0 5% 0;
}

.organizationChart img{
    width: 90%;
    height: auto;
}

@media (max-width:500px) {
    .kyokuButton4{
        flex-direction: column;
        gap: 18px;
    }

    .kyokuButtonContainer{
        flex-direction: row;
        gap: 45px;
    }

    .kyokuButton{
        font-size: 16px;
        padding: 5px 15px;
        white-space: nowrap;
        width: 120px;
    }

    .section-title-kyoku h1 {
        font-size: 18px;
    }

    .section-title-kyoku{
        margin-top: 2%;
    }

    .kyokuBoxUnder{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.73vw 10px 0 10px;
    }

    .kyokuBoxLeft{
        width: 100%;
    }

    .kyokuBoxLeftUnder{
        margin-top: 30px;
    }

    .kyokuBoxLeftUnder .blockTitle{
        font-size: 16px;
    }

    .LeftUnderText p{
        font-size: 16px;
    }

    .kyokuBoxRight{
        width: 100%;
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .kyokuBoxLine{
        content: "";
        border: none;
        margin: 0;
    }

    .kyokuText{
        font-size: 16px;
    }

    .kyokuchoName{
        text-align: end;
        font-size: 16px;
    }

    .organizationChart{
        margin: 5% 0 10% 0;
    }
    
    .organizationChart{
        margin-top: 10%;
    }

    .kyokuUnderBoxContainer{
        margin-top: 8%;
    }
}

