*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-title {
   position: relative;
   left: 50%;
    transform: translateX(-50%);
    margin: 1vw;
}
/* ここまでブロックタイトル */
.text-wasedasai{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
    color: #1C1B1B;
    width: 75vw;
    position: relative;
    left: 10%;
}
.text-wasedasai-event{
    font-size: 30px;
    font-weight: bold;
    color: #1C1B1B;
}
.container-img-waseda-gaiyou{
    display: flex;
    justify-content: center;
}
.img-waseda{
    width: 25vw;
    margin: 2vw;
}
.ccontainer-img-waseda-gaiyou{
    display: flex;
    text-align: center;
    width: 60vw;
}
.img-waseda-gaiyou{
    width: 35vw;
    margin: 2vw;
}
.img-waseda-zennmi{
    width: 50vw;
    margin: 1vw;
    left: 50%;
}
.container-text-wasedasai{
    display: flex;
    justify-content: center;
    margin: 2vw;
    position: relative;
}
.blockTitleContainer{
    justify-content: start;
    position: relative;
    left: 0%;
    width: 30vw;
}
.text-wasedasai-number{
    font-size: 24px;
    text-align: start;
    padding: 0.3vw;
    color: #1C1B1B;
}
.text-wasedasai-action{
    font-size: 24px;
    text-align: start;
    color: #1C1B1B;
    width: 30vw;
}
.text-wasedasai-attention{
    font-size: 20px;
    text-align: start;
    color: #1C1B1B;
    width: 30vw;
}
.text-wasedasai-about-number{
    font-size: 25px;
    font-weight: bold;
    color: #1C1B1B;
}
.container-img-waseda-happi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-waseda-happi{
    width: 30vw;
    margin-left: 7vw;
}
.text-wasedasai-happpi{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
    color: #1C1B1B;
    width: 40vw;
}
.text-wasedasai-lecureation{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
    color: #1C1B1B;
    width: 50vw;
    position: relative;
    left: 23.5%;
}
.img-waseda-lecreation{
    width: 50vw;
    margin: 2vw;
    position: relative;
    left: 25%;
    text-align: center;
}
.text-color-enji{
    color: #B3424A;
    font-size: 28px;
    font-weight: bold;
}
.text-link{
    color: #E72241;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}
@media (max-width: 500px) {
    .section-title {
        position: relative;
        left: 50%;
         transform: translateX(-50%);
         margin: 1vw;
     }
    .text-wasedasai{
        font-size: 18px;
        color: #1C1B1B;
        width: 90%;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .text-wasedasai-event{
        font-size: 24px;
        color: #1C1B1B;
    }
    .img-waseda:not(:first-child) {
        display: none; /* 1枚目以外を非表示 */
    }
    .img-waseda {
        width: 80%; /* スマホでは1枚の写真を画面いっぱいに */
    }
    .img-waseda-gaiyou{
        width: 40vw;
    }
    .img-waseda-zennmi{
        width: 80vw;
    }
    .text-wasedasai-number{
        font-size: 18px;
        color: #1C1B1B;
        width: 90%;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .text-wasedasai-action{
        font-size: 18px;
        color: #1C1B1B;
        width: 90%;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .text-wasedasai-attention{
        font-size: 16px;
        color: #1C1B1B;width: 80%;
    }
    .text-wasedasai-about-number{
        font-size: 20px;
        color: #1C1B1B;
    }
    .img-waseda-happi{
        width: 70vw;
        position: relative;
        left: 51%;
         transform: translateX(-50%);
         margin: 0;
    }
    .container-img-waseda-happi{
        display: block;
    }
    .text-wasedasai-happpi{
        font-size: 18px;
        color: #1C1B1B;
        width: 90%;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .text-wasedasai-lecureation{
        font-size: 18px;
        color: #1C1B1B;
        width: 90%;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .img-waseda-lecreation{
        width: 80vw;
        margin: 2vw;
        position: relative;
        left: 8%;
    }
    .text-color-enji{
        font-size: 24px;
        color: #B3424A;
    }
    .text-link{
        font-size: 18px;
        color: #B3424A;
    }
    .container-text-wasedasai{
        display: inline;
        justify-content: center;
        margin: 2vw;
    }
    .blockTitleContainer{
        width: 80%;
        position: relative;
        left: 5%;
    }
    .text-wasedasai-lecureation{
        margin-bottom: 8vw;
    }
}