*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-title {
   position: relative;
   left: 50%;
    transform: translateX(-50%);
    margin: 1vw;
}
/* ここまでブロックタイトル */
.text-wasedasai{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
}
.text-wasedasai-event{
    font-size: 30px;
    font-weight: bold;
}
.container-img-waseda-gaiyou{
    display: flex;
    justify-content: center;
}
.img-waseda-1{
    width: 25vw;
    margin: 2vw;
}
.img-waseda-2{
    width: 25vw;
    margin: 2vw;
}
.img-waseda-3{
    width: 25vw;
    margin: 2vw;
}
.ccontainer-img-waseda-gaiyou{
    display: flex;
    text-align: center;
    width: 60vw;
}
.img-waseda-gaiyou-1{
    width: 35vw;
    margin: 2vw;
}
.img-waseda-gaiyou-2{
    width: 35vw;
    margin: 2vw;
}

.img-waseda-zennmi{
    width: 50vw;
    margin: 1vw;
    left: 50%;
}
.container-text-wasedasai{
    display: flex;
    justify-content: center;
    margin: 2vw;
    position: relative;
}
.blockTitleContainer{
    justify-content: center;
}
.text-wasedasai-number{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
    padding: 0.3vw;
}
.text-wasedasai-action{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
    padding: 0.3rem;
}
.text-wasedasai-attention{
    font-size: 20px;
    text-align: center;
    margin: 2vw;
}
.text-wasedasai-about-number{
    font-size: 25px;
    font-weight: bold;
}
.container-img-waseda-happi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-waseda-happi{
    width: 90vw;
    margin-left: 7vw;
}
.text-wasedasai-happpi{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
}
.text-wasedasai-lecureation{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
}
.img-waseda-lecreation{
    width: 50vw;
    margin: 1vw;
    position: relative;
    left: 25%;
    text-align: center;
}
.text-color-enji{
    color: #B3424A;
    font-size: 28px;
    font-weight: bold;
}
.text-link{
    color: #E72241;
    font-size: 24px;
}
.img-container { /* スクロール用の余白 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image.active {
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 500px) {
    .text-wasedasai{
        font-size: 18px;
    }
    .text-wasedasai-event{
        font-size: 24px;
    }
    .img-waseda-1{
        width: 40vw;
    }
    .img-waseda-2{
        width: 40vw;
    }
    .img-waseda-3{
        width: 40vw;
    }
    .img-waseda-gaiyou-1{
        width: 40vw;
    }
    .img-waseda-gaiyou-2{
        width: 40vw;
    }
    .img-waseda-zennmi{
        width: 80vw;
    }
    .text-wasedasai-number{
        font-size: 18px;
    }
    .text-wasedasai-action{
        font-size: 18px;
    }
    .text-wasedasai-attention{
        font-size: 16px;
    }
    .text-wasedasai-about-number{
        font-size: 20px;
    }
    .img-waseda-happi{
        width: 90vw;
        margin-left: 7vw;
    }
    .text-wasedasai-happpi{
        font-size: 18px;
    }
    .text-wasedasai-lecureation{
        font-size: 18px;
    }
    .img-waseda-lecreation{
        width: 80vw;
        margin: 1vw;
        position: relative;
        left: 10%;
    }
    .text-color-enji{
        font-size: 24px;
    }
    .text-link{
        font-size: 18px;
    }
    .img-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .image.active {
        opacity: 1;
        transform: translateY(0);
    }
}