*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

}
.section-title {
   position: relative;
   left: 50%;
    transform: translateX(-50%);
    margin-top: 8vw;
}
/* ここまでブロックタイトル */
.text-wasedasai{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
    color: #1C1B1B;
    width: 90vw;
    position: relative;
    left: 3%;
}
.text-wasedasai-event{
    font-size: 30px;
    font-weight: bold;
    color: #1C1B1B;
}
.container-img-waseda-gaiyou{
    display: flex;
    justify-content: center;
}
.img-waseda{
    width: 25vw;
    margin: 2vw;
}
.ccontainer-img-waseda-gaiyou{
    display: flex;
    text-align: center;
    width: 60vw;
}
.img-waseda-gaiyou{
    width: 35vw;
    margin: 2vw;
}
.img-waseda-zennmi{
    width: 50vw;
    margin: 1vw;
    left: 50%;
}
.container-text-wasedasai{
    display: flex;
    justify-content: center;
    margin: 2vw;
    position: relative;
}
.blockTitleContainer{
    justify-content: center;
    width: 30vw;
}
.text-wasedasai-number{
    font-size: 24px;
    text-align: center;
    padding: 0.3vw;
    color: #1C1B1B;
}
.text-wasedasai-action{
    font-size: 24px;
    text-align: center;
    color: #1C1B1B;
    width: 30vw;
}
.text-wasedasai-attention{
    font-size: 20px;
    text-align: start;
    color: #1C1B1B;
    width: 30vw;
}
.text-wasedasai-about-number{
    font-size: 25px;
    font-weight: bold;
    color: #1C1B1B;
}
.container-img-waseda-happi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-waseda-happi{
    width: 30vw;
    margin: 3vw;
}
.text-wasedasai-happpi{
    font-size: 24px;
    text-align: start;
    margin: 2vw;
    color: #1C1B1B;
    width: 40vw;
}
.text-wasedasai-lecureation{
    font-size: 24px;
    text-align: center;
    margin: 2vw;
    color: #1C1B1B;
    width: 50vw;
    position: relative;
    left: 23.5%;
}
.img-waseda-lecreation{
    width: 50vw;
    margin: 2vw;
    position: relative;
    left: 23%;
    text-align: center;
}
.text-color-enji{
    color: #E72241;
    font-size: 28px;
    font-weight: bold;
}
.text-link{
    color: #E72241;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}
.container-video{
    margin: 0 auto;
    width: 100%;
}
.container-video iframe{
    display: grid;
    /* margin-left: 40%; */
    align-items: center;
    width: 80vw;

    
}
@media (max-width: 1024px) {
    .hero h1{
        font-size: 25px;
    }
}
@media (max-width: 830px) {
    .hero h1{
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .hero h1{
        font-size: 12px;
    }
    .section-title {
        position: relative;
        left: 50%;
         transform: translateX(-50%);
         margin-top: 10vw;
     }
    .text-wasedasai{
        font-size: 14px;
        color: #1C1B1B;
        width: 93%;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .text-wasedasai-event{
        font-size: 14px;
        color: #1C1B1B;
    }
    .img-waseda:not(:first-child) {
        display: none; /* 1枚目以外を非表示 */
    }
    .img-waseda {
        width: 80%; /* スマホでは1枚の写真を画面いっぱいに */
    }
    .img-waseda-gaiyou{
        width: 40vw;
    }
    .img-waseda-zennmi{
        width: 80vw;
    }
    .text-wasedasai-number{
        font-size: 14px;
        color: #1C1B1B;
        width: 90%;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .text-wasedasai-action{
        font-size: 14px;
        color: #1C1B1B;
        width: 90%;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .text-wasedasai-action br {
        display: none;
    }
    .text-wasedasai-attention{
        font-size: 14px;
        color: #1C1B1B;width: 80%;
    }
    .text-wasedasai-about-number{
        font-size: 20px;
        color: #1C1B1B;
    }
    .img-waseda-happi{
        width: 70vw;
        position: relative;
        left: 51%;
         transform: translateX(-50%);
         margin: 0;
    }
    .container-img-waseda-happi{
        display: block;
    }
    .text-wasedasai-happpi{
        font-size: 14px;
        color: #1C1B1B;
        width: 90%;
        text-align: center;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .text-wasedasai-lecureation{
        font-size: 14px;
        color: #1C1B1B;
        width: 90%;
        position: relative;
        left: 50%;
         transform: translateX(-50%);
    }
    .img-waseda-lecreation{
        width: 80vw;
        margin: 2vw;
        position: relative;
        left: 8%;
    }
    .text-color-enji{
        font-size: 20px;
        color: #E72241;
    }
    .text-link{
        font-size: 14px;
        color: #E72241;
    }
    .container-text-wasedasai{
        display: inline;
        justify-content: center;
        margin: 2vw;
    }
    .blockTitleContainer{
        width: 30%;
        text-align: left;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .text-wasedasai-lecureation{
        font-size: 14px;
        width: 100%;
    }
    .text-wasedasai-number{
        text-align: left;
    }
    .text-wasedasai-action{
        text-align: left;
    }
    .text-wasedasai-number br {
        display: none;
    }
}